body {
    margin: 0;
    background: black;
}

#discoBall {
    position: absolute;
    width: 100%;
    height: 50%;
}

#nightSky {
    width: 100%;
    height: 100%;
}

#danceTiles{
    width: 100%;
    height: 100%;
}

